ion-item {
    --inner-border-width: 0px !important;
}

.form-container {
    margin-top: 12vh;
    width: 100%;
}

label {
    text-align: center;
}

form {
    margin-top: 40px;
}

ion-input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.644);
}

:root {
    --ion-toolbar-background: transparent !important;
    --ion-toolbar-color: white;
}

ion-toolbar {
    border-bottom: 0 !important;
}

ion-title {
    text-align: center;
    padding-inline: 0 !important;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

ion-toolbar {
    border: 0 !important;
}

span {
    font-size: 12px;
}

:host {
    --ion-item-background: transparent !important;
}

.div-submit-button {
    width: 100%;
    display: flex;
    margin-top: 55px;
    justify-content: center;
}

.pos-relative {
    position: relative;
    bottom: 15px;
} 